#con {
  background-color: white;
}

#con img {
  border-radius: 50%;
  position: relative;
  top: 50px;
  left: 50px;
}

#texts {
  position: relative;
  top: -650px;
  left: 750px;
  width: 400px;
  height: 750px;
}

#texts h2 {
  width: 400px;
  height: 200px;
  font: normal 40px/100px 'Sunflower', sans-serif;
  position: relative;
  top: 150px;
  text-align: center;
}

#texts a {
  display: block;
  width: 400px;
  height: 200px;
  border: 10px solid rgb(0,110,255);
  position: relative;
  top: 200px;
  font: normal 50px/100px 'Sunflower', sans-serif;
  text-align: center;
  border-radius: 20px;
  box-sizing: border-box;
  color: rgb(134, 210, 238);
  background-color: white;
  transition: background-color 1s, color 1s;
}

#texts a:hover {
  background-color: rgb(0,110,255);
  color: white;
}
