#con {
  background-repeat: round;
}

#con h1 {
  font: normal 100px/200px 'Do Hyeon', sans-serif;
  text-align: center;
  color: white;
  position: relative;
  top: 120px;
  text-shadow:3px 3px 10px rgb(175, 175, 175);
}

#con a {
  display: block;
  font: normal 70px 'Do Hyeon', sans-serif;
  text-align: right;
  color: white;
  position: relative;
  top: 230px;
  right: 120px;
  text-shadow:3px 3px 10px rgb(175, 175, 175);
  opacity: 0.0;
  transition: opacity 1s ease-out;
}

#con:hover a {
  opacity: 1.0;
}
