#con {
  background-repeat: round;
}

#con h1 {
  font: normal 100px/200px 'Gugi', cursive;
  text-align: center;
  color: white;
  position: relative;
  top: 120px;
  text-shadow:2px 2px 5px rgb(50, 62, 113);
}

#con a {
  display: block;
  font: normal 70px 'Gugi', cursive;
  text-align: right;
  color: white;
  position: relative;
  top: 230px;
  right: 120px;
  text-shadow:2px 2px 5px rgb(50, 62, 113);
  opacity: 0.0;
  transition: opacity 1s ease-out;
}

#con:hover a {
  opacity: 1.0;
}
